<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile-Users</title>
    <link rel="stylesheet" href="style.css"> <!-- file:///F:/Dev/Python/Projects/VKbot/templates/style.css -->
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="top-info">
                <div class="wallpaper"></div>
                <div class="avatar">
                    <div class="pic">
                        <img src="https://sun1-93.userapi.com/s/v1/ig2/3As5KhbHJpmUOzueztD9SSi62zURUwLSvkK1npnaTw3tDAxgsK6VqBLf9Yg1_zVX11E9JpxtBvwhr8pv8aOg_blN.jpg?size=200x200&quality=95&crop=152,548,1317,1317&ava=1" alt="">
                </div>
                </div>
                <div class="points">
                    <div class="text-block">
                        <p class="count">1255</p>
                        <p class="text">активпоинтов</p>
                    </div>
                </div>
            </div>
            <div class="mid-info">
                <div class="name">Антон Билута</div>
                <div class="short-mes">Председатель студенческого совета ФКТиПМ</div>
            </div>
            <div class="status">
                Активен
            </div>
            <div class="btm-info">
                <div class="item">
                    <p>Факультет Кринжа и Мемологического анализа</p>
                </div>
                <div class="item">
                    <p>Русский, English, Italia</p>
                </div>
                <div class="item">
                    <p>Кошатник, пустите на мероприятие, он хочет тусить</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>